.DS_Store
__pycache__/
*.pyc
*.pyo
*.vsix
*.vscode
node_modules/
build/
out/
*.egg-info/
dist/
.eggs/
.env
*.swp
*.swo
backend/
work/
syn/libs/
*.db
*.pyc
__pycache__/
*.log
*.out
*.org
*_org
.run.cmd
.synopsys_dc.setup
*.tcl_ccs
*.tcl_1.2
clog*
